/*Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Variables */
:root {
	--primary: #6b59d3;
  --secondary: #bfc0c0;
  --white: #fff;
  --text-clr: #5b6475;
  --header-clr: #25273d;
  --next-btn-hover: #8577d2;
  --back-btn-hover: #8b8c8c;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  color: var(--text-clr);
  font-size: 10px;
  margin: 0;
  height: 100%;
  position: relative;
}
.wrapper {
  width: 100vh;
  max-width: 100%;
  background-color: var(--white);
  margin: auto;
  margin-top: 50px;
  margin-bottom: auto;
  padding: 50px;
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box;
  display: block;
}
.wrapper .header {
  margin-bottom: 10px;
  display: block;
  justify-content: center;
}
.wrapper .header ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 10px;
}

.wrapper .header ul li {
  position: relative;
  margin-right: 40px;
  padding: 2px;
  font-size: 10px;
}
.wrapper .header ul li:last-child {
  margin-right: 0;
}

.wrapper .header ul li:before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  transform: translateY(-50%);
  left: 55px;
  width: 100%;
  height: 2px;
  background: var(--secondary);
}
.wrapper .header ul li:last-child:before {
  display: none;
}
.wrapper .header ul li div {
  padding: 5px;
  border-radius: 50%;
}

.wrapper .header ul li p {
  width: 50px;
  height: 50px;
  background: var(--secondary);
  color: var(--white);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

.wrapper .header ul li.active:before,
.wrapper .header ul li.active p {
  background: var(--primary);
}
.wrapper .form_wrap {
  max-width: 100%;
  margin: 0 auto 10px; 
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.wrapper .form_wrap h2 {
  font-size: 1.2rem;
  color: var(--header-clr);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;  }
.wrapper .form_wrap .input_wrap {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 10px;
  display: flex;
  flex-direction: column;
}
.wrapper .form_wrap .input_wrap:last-child {
  margin-bottom: 0;
}
.wrapper .form_wrap .input_wrap label {
  display: block;
  margin-bottom: 5px;
}
.wrapper .form_wrap .input_wrap input {
  border: 2px solid var(--secondary);
  border-radius: 3px;
  padding: 10px;
  display: block;
  width: 100%;
  font-size: 16px;
  transition: 0.5s ease;
}
.wrapper .form_wrap .input_wrap input:focus {
  border-color: var(--primary);
}
.wrapper .btns_wrap {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper .btns_wrap .common_btns {
  display: flex;
  justify-content: space-between;
}
.wrapper .btns_wrap .common_btns.form_4_btns {
  justify-content: flex-end;
}
.wrapper .btns_wrap .common_btns button {
  border: 0;
  padding: 12px 15px;
  background: var(--primary);
  color: var(--white);
  width: 135px;
  justify-content: center;
  display: fixed;
  align-items: center;
  font-size: 16px;
  border-radius: 3px;
  transition: 0.5s ease;
  cursor: pointer;
}
.wrapper .btns_wrap .common_btns button.btn_back {
  background: var(--secondary);
}
.wrapper .btns_wrap .common_btns button.btn_next .icon {
  display: flex;
  margin-left: 10px;
}
.wrapper .btns_wrap .common_btns button.btn_back .icon {
  display: flex;
  margin-right: 10px;
}
.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover {
  background: var(--next-btn-hover);
}
.wrapper .btns_wrap .common_btns button.btn_back:hover {
  background: var(--back-btn-hover);
}





/*media queries*/

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
    .wrapper {
      margin: 50px auto 0;
      padding: 25px;
    }
}

  @media only screen and (max-width: 768px) {
    .wrapper .header {
      display: flex;
      text-align: center;
    }
}


  @media only screen and (max-width: 768px) {
    .wrapper .header ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .wrapper .header ul li:before {
      left: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
   
    .wrapper .header ul li div {
      padding: 5px;
    }
  
    .wrapper .header ul li p {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 768px) {
    .wrapper .form_wrap {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .wrapper .form_wrap h2 {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .wrapper .form_wrap .input_wrap {
    width: 100%;
    margin: 0 auto 20px;
    }
   }
   
   @media screen and (max-width: 768px) {
        .wrapper .form_wrap .input_wrap {
          width: 100%;
        }
      
        .wrapper .btns_wrap {
          width: 100%;
        }
      
        .wrapper .btns_wrap .common_btns {
          flex-direction: column;
          align-items: center;
        }
    }
    @media screen and (max-width: 768px) {
        .wrapper .btns_wrap {
          width: 100%;
        }
    }
    
@media (max-width: 768px) {
  .modal_wrapper .success_wrap {
    max-width: 90%;
    padding: 50px;
  }
  .modal_wrapper .success_wrap .modal_icon {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }
}